<div class="menu row">
  <div class="col-md-3 logo-holder">
  <LinkTo @route="index" class="menu-index">
    <div class="logo"><img alt="Logo" src="assets/images/ohora.png"></div>
  </LinkTo>
  </div>
  {{!-- <div class="col-md-8 pages">
    <div class="links">
      <LinkTo @route="requests" class="menu-requests">
        Wall of Requests
      </LinkTo>
      <LinkTo @route="contact" class="menu-contact">
        Support
      </LinkTo>
    </div>
  </div> --}}
  <div class="col-md-3"><h3>DESIGN</h3></div>
  <div class="col-md-3"><h3>DEVELOPMENT</h3></div>
  <div class="col-md-3"><i class="fa-brands fa-instagram"></i></div>

</div>
