<div class="row">
  <div class="col-md-6 half">
    <h3>Please insert your wallet address</h3>
    <p>If the wallet exists in our database, your billie boy will generate</p>
    <input
  class='new-card'
  aria-label='yourName'
  placeholder='Insert wallet adress'
  autofocus
  {{on 'keydown' this.onKeyDown}}
 >
  </div>
    <div class="col-md-6 half">
    <img class="image" src="/assets/images/artwork-1.svg">
  </div>
</div>